{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create Page
{% endblock %}

{% block body %}
<div>
    <form action="{% url 'wiki:index' %" method="get">
        <p><label for="create_entry_name">Entry Name:</label></p>
        <textarea id="create_entry_name" name="create_entry_name" rows="2" cols="50"></textarea>
        <br>
        <p><label for="contents">Contents:</label></p>
        <textarea id="contents" name="contents" rows="10" cols="50"></textarea>
        <br>
        <input type="submit" value="Create Entry">
    </form>
</div>

{% endblock %}