{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% if msg %}
        <h1>Error</h1>
        <p>{{ msg }}</p>
    {% else %}
        {% if notFound %}
            <h1>Not Found</h1>
            <p>{{ notFound }}</p>
        {% else %}
            <h1>No exact matches for "{{ search }}"; the following entries are pretty close:</h1>
            <ul>
                {% for entry in entry_list %}
                    <li><a href="{% url 'wiki_entry' entry %}">{{ entry }}</a></li> 
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}

   
{% endblock %}